@media (max-width: 480px) {

    .bloco_central, .principal, .mapa-conteudo, .conteudo-beneficios, .video{
        width: auto;
    }   
    
    h1{
        text-align: center;
    }

    .titulo-principal{
        font-size: 25px;
        font-weight: bold;
    }

    nav{
        position: static;
    }

    .lista-beneficios, .imagem_beneficios{
        width: 100%;
    }


/* Página Produtos */

.produtos {
    display: inline;
    
}
    
.produtos li{
    width: 100%;
    margin: 10px auto;
}
    



    
 
 

   
   

}