body{
    
}

#banner{

    width: 100%;
}

.titulo-principal{

padding-left: 20px;    
}

.principal{
    background-color: grey;
    padding: 30px;
}

.titulo-centralizado{
    text-align: center
}

p {
    text-align: center;
    
}

#missao{
    font-size: 20px;
}

em strong{
    color: yellow;
}   

.itens{
    font-style: italic;
}

.itens:hover{

    color: darkorange;

}

.Beneficios{
   background-color: white;
   padding: 20px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-left: 10%;

}

.imagem_beneficios{
    width: 50%;
    height: 650px;
}