header{
    
    text-align: center;
}

.Teste1{
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;

}
.Teste1:hover{

    color: brown;
}



main{
    width: 940px;
    margin: 0 10px;
}

form{
    margin: 20px 0;
}


 form label, form p{

    display: block;
    font-size: 20px;
    margin: 0 0 10px 0;
    
}


.final{

    margin-top: 15px;
}
.input-padrao{
    display: block;
    margin: 0 0 10px 0;
    padding: 10px 25px;   
    width: 50%;
}





footer{
    background: url(bg.jpg);
    text-align: center;
    padding: 20px 0;

}



